In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('/content/call.csv')

In [ ]:
answering_rate = (df['Answered Calls']/ df['Incoming Calls']) * 100
df['Answering Rate(%)'] = answering_rate
print(answering_rate)

0        94.009217
1        91.000000
2        91.666667
3        93.548387
4       100.000000
           ...
1246     96.335079
1247     98.584906
1248     96.666667
1249     95.209581
1250     91.666667
Length: 1251, dtype: float64

In [ ]:

tmp = df['Answer Speed (AVG)'].str.split(':')
tmp2 = df['Talk Duration (AVG)'].str.split(':')

df['hours'] = (tmp.str[0]).astype(int)
df['hours'] = df['hours'] * 360
df['minutes'] = (tmp.str[1]).astype(int)
df['minutes'] = df['minutes'] * 60
df['second'] = (tmp.str[2]).astype(int)
df['date_int'] = ( df['hours'] + df['minutes'] +  df['second'] ).astype(int)
#df['date_int'] = ( tmp.str[0] + tmp.str[1] +  tmp.str[2] ).astype(int)
df

,Index,Incoming Calls,Answered Calls,Answer Speed (AVG),Talk Duration (AVG),Waiting Time (AVG),Answering Rate(%),date_int,hours,minutes,second
0,1,217,204,00:00:17,00:02:14,00:02:45,94.009217,17,0,0,17
1,2,200,182,00:00:20,00:02:22,00:06:55,91.000000,20,0,0,20
2,3,216,198,00:00:18,00:02:38,00:03:50,91.666667,18,0,0,18
3,4,155,145,00:00:15,00:02:29,00:03:12,93.548387,15,0,0,15
4,5,37,37,00:00:03,00:02:06,00:00:35,100.000000,3,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...
1246,1247,191,184,00:00:07,00:02:50,00:01:56,96.335079,7,0,0,7
1247,1248,212,209,00:00:10,00:02:51,00:01:45,98.584906,10,0,0,10
1248,1249,210,203,00:00:12,00:03:22,00:03:52,96.666667,12,0,0,12
1249,1250,167,159,00:00:16,00:03:16,00:02:42,95.209581,16,0,0,16
1250,1251,12,11,00:00:03,00:02:12,00:00:58,91.666667,3,0,0,3

In [ ]:
print(df)

      Index  Incoming Calls  Answered Calls Answer Speed (AVG)  \
0         1             217             204           00:00:17
1         2             200             182           00:00:20
2         3             216             198           00:00:18
3         4             155             145           00:00:15
4         5              37              37           00:00:03
...     ...             ...             ...                ...
1246   1247             191             184           00:00:07
1247   1248             212             209           00:00:10
1248   1249             210             203           00:00:12
1249   1250             167             159           00:00:16
1250   1251              12              11           00:00:03

     Talk Duration (AVG) Waiting Time (AVG)  Answering Rate(%)  date_int
0               00:02:14           00:02:45          94.009217        17
1               00:02:22           00:06:55          91.000000        20
2               00:02:38           00:03:50          91.666667        18
3               00:02:29           00:03:12          93.548387        15
4               00:02:06           00:00:35         100.000000         3
...                  ...                ...                ...       ...
1246            00:02:50           00:01:56          96.335079         7
1247            00:02:51           00:01:45          98.584906        10
1248            00:03:22           00:03:52          96.666667        12
1249            00:03:16           00:02:42          95.209581        16
1250            00:02:12           00:00:58          91.666667         3

[1251 rows x 8 columns]

**MAIN ANSWER**

In [ ]:
df2 = round(df[df['Answering Rate(%)'] > 80], 1)

abandonned_calss = ( df['Incoming Calls'] -  df['Answered Calls'])



df2['Abandoned Calls'] = abandonned_calss

rate_of_abandoned_calls = round((df2['Abandoned Calls']/ df['Incoming Calls']) * 100, 1)
df2['Abandoned Calls (%)'] = rate_of_abandoned_calls 
employee_class = 'FAST'
df2['Employee Class'] = employee_class
df2.loc[df2['date_int'] > 10, 'Employee Class'] = 'MEDIUM'
df2.loc[df2['date_int'] > 20, 'Employee Class'] = 'SLOW'


df2 = df2.drop(columns=['hours','minutes','second','date_int','Incoming Calls', 'Answered Calls', 'Answer Speed (AVG)', 'Talk Duration (AVG)', 'Waiting Time (AVG)'])

df2

,Index,Answering Rate(%),Abandoned Calls,Abandoned Calls (%),Employee Class
0,1,94.0,13,6.0,MEDIUM
1,2,91.0,18,9.0,MEDIUM
2,3,91.7,18,8.3,MEDIUM
3,4,93.5,10,6.5,MEDIUM
4,5,100.0,0,0.0,FAST
...,...,...,...,...,...
1246,1247,96.3,7,3.7,FAST
1247,1248,98.6,3,1.4,FAST
1248,1249,96.7,7,3.3,MEDIUM
1249,1250,95.2,8,4.8,MEDIUM
1250,1251,91.7,1,8.3,FAST

ANSWERS

What percentage of employees who have a Talk Duration of more than 2 minutes (120 seconds)?

In [ ]:
tmp2 = df['Talk Duration (AVG)'].str.split(':')

df['hours_talk'] = ((tmp2.str[0]).astype(int))*360

df['minutes_talk'] = ((tmp2.str[1]).astype(int))*60

df['second_talk'] = (tmp2.str[2]).astype(int)
df['avg_talk_duration'] = ( df['hours_talk'] + df['minutes_talk'] + df['second_talk'] )
df3 = df
df3 = df3.drop(columns=['hours','minutes','second','date_int'])
df5 = df3
percent = len(df5[df5['avg_talk_duration'] > 120]) / len(df5['avg_talk_duration'])
percent  = round(percent * 100, 2)
print(percent)

96.08